.section-movies {
    height: fit-content;
    position: relative;
}
.figure-hit-movie {
    width: 100%;
    padding: .5rem;
    padding-bottom: 0;
    display: grid;
    grid-template-areas: 
    'left none right' 
    'left mid mid' 
    'left mid mid';
    
}
.hit-movie-grid-flex {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.hit-movie-grid-left {
    grid-area: left;
    align-items: start;
}
.hit-movie-grid-mid {
    grid-area: mid;
    align-items: start;
    justify-content: center;

}
.hit-movie-grid-right {
    grid-area: right;
    align-items: end;
    justify-content: flex-start;
}


.figure-hit-movie h4 {
    font-size: 1.5rem;
    text-shadow: 1px 1px 10px #000000;
}
.figure-hit-movie h3 {
    font-size: 2rem;
    text-shadow: 1px 1px 10px #000000;

}

.hit-movie-rating{
    background-image: url('./images/star.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 3.5rem; height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure-hit-movie img {
    width: 80%;
    max-width: 200px;
    border-radius: 3px;
}

/*Hit Movie Background*/
.movie-background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #582699), url('./images/eu_ts4_trailer-stories_hero_r_66752cc8\ 3.png');
    background-position: center;
    background-size: cover;
    opacity: .7;
    z-index: -1;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

/*Aside*/

.side-hit-movie {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: .5rem;
    height: fit-content;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(90deg, rgba(88, 38, 153, 0.5), rgba(0, 0, 0, 0.2));
}

.side-hit-movie img {
    height: 80%;
    max-height: 100px;
    margin-right: .5rem;
    border-radius: 3px;
}
.side-hit-movie h4 {
    font-size: 1.5rem;
}

.side-hit-bottom {
    display: flex;
    justify-content: space-between;
}

.side-hit-rating {
    display: flex;
}
.side-hit-rating img {
    margin: 0;
    width: 1rem;
    height: 1rem;
}
.article-hit-movies {
    margin: 2rem auto 0;
    width: 90%;
    height: fit-content;
    overflow: visible;
    display: grid;
    grid-template-areas: 
    'top aside1'
    'top aside2';
}

@media only screen and (max-width: 1000px) { 
    .article-hit-movies {
        grid-template-areas: 
        'top'
        'aside1'
        'aside2';
    }
}