.checkout-container {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.article-decor {
    margin-bottom: 2rem;
}

.article-decor h1 {
    font-size: 2rem;;
}

.article-decor {
    color: #9747FF;
}

.btn {
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: .5rem 1.3rem;
    border: none;
    border-radius: 3px;
    background-color: var(--main-green);
    display: block;
    margin: 1rem auto;
}

.logo-div {
    margin: 2rem auto;
    width: 90%;
    max-width: 600px;
}

.logo-div img {
    filter: contrast(1.8);
    width: 100%;
}